/* general styles */
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* tags */

img{
    width: 100%;
}

ul {
    list-style: none;
}

/* utilities */
.main_container {
    margin: 10px auto;
    width: 65%;
}

.product {
    position: relative;
    display: inline-block;
    width: calc(100% / 3 - 5px);
    margin-top: 20px;
}

.second_img {
    display: none;
}

/* product lables */
.lables{
    border: 1px solid currentColor;
    color: white;
    padding: 3px;
    position: absolute;
    top: 75%;
}

.discount {
    background-color: #ef3c2d;
    border-radius: 2px;
}

.merits {
    display: inline-block;
    background-color: #88d498;
}


















