/* GENERAL STYLES */
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* TAGS */

img{
    width: 100%;
}

ul {
    list-style: none;
    padding-top: 10px;
}

li {
    padding-bottom: 5px;
}

/* UTILITIES */
.main_container {
    margin: 10px auto;
    width: 65%;
}

.product {
    position: relative;
    display: inline-block;
    width: calc(100% / 3 - 5px);
    margin-top: 20px;
}

.secondary_img {
    display: none;
}

.img_container:hover .secondary_img {
    display: inline-flex;
    position: absolute;
    right: 0;
}

/* product lables */
.lables{
    font-size: 15px;
    border: 1px solid ;
    color: white;
    padding: 5px 15px;
    position: absolute;
    top: 75%;
}

.discount {
    background-color: #ef3c2d;
    border: currentColor;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.merits {
    display: inline-block;
    background-color: #88d498;
    border: currentColor;
    border-radius: 15px;
    left: 70px;
}

.add_desire {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px 15px;
    background-color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.add_desire:hover {
    color: #ef3c2d;
    cursor: pointer;
}

/* product details */
.product_details {
    text-align: right;
}

.brand {
    font-size: 15px;
    color: #5d5d5d;
}

.product_name {
    font-weight: 600;
}

.price {
    color: #88d498;
}

.old_price {
    color: #ef3c2d;
    text-decoration: line-through;
}